.modal-content {
    width: 100%;
    padding: 2rem;

    background-color: $white;
    box-shadow: $shadow;
    border-radius: $radius_sm;

    position: relative;
}

.modal__close {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;

    background: none;
    border: none;

    position: absolute;
    top: -2.2rem;
    right: -2.2rem;
    z-index: 1;

    cursor: pointer;

    transition: transform .2s linear;

    &:focus {
        outline: none;
    }

    &:hover {
        transform: rotate(180deg);
    }
}

.modal__close-item {
    display: block;
    width: 100%;
    height: 100%;
    fill: $white;
}

.modal__title {
    font-size: 1.6rem;
    color: $pink;
    font-weight: 500;

    margin-bottom: .5rem;
}

.modal__text {
    margin-bottom: 2rem;

    font-style: 1rem;
    line-height: 1.2;
    color: $black;
    font-weight: 500;
}