<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="row header__row">
                <div class="col-lg-2">
                    <a class="logo" href="#">
                        <span class="logo__prefix">in</span>Web
                    </a>
                </div>
                <div class="col-lg-8">
                    <nav class="nav">
                        <a class="nav__link  active" href="index.html">Главная</a>
                        <a class="nav__link" href="services.html">Услуги</a>
                        <a class="nav__link" href="portfolio.html">Портфолио</a>
                    </nav>
                </div>
                <div class="col-lg-2">
                <div class="lang">
                    <a class="lang__item active" href="#">RU</a>
                    <a class="lang__item" href="#">EN</a>
                </div>
                </div>
            </div>

        </div> <!-- /.header__inner -->
    </div> <!-- /.container -->
</header> <!-- /.header -->
