<!-- Modal -->

<div class="modal fade" id="request-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
            <svg class="modal__close-item">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="modal__title">Оставить заявку</div>
        <div class="modal__text">Заполните форму ниже и я свяжусь с вами в ближайшее время!</div>

        <form class="form" action="/" method="post">
            <div class="form__group">
                <input class="input" type="text" name="text" placeholder="Ваше имя" required>
            </div>
            <div class="form__group">
                <input class="input" type="email" name="email" placeholder="Ваш e-mail" required>
            </div>
            <div class="form__group">
                <input class="input" type="tel" name="tel" placeholder="Ваш телефон" required>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    <button class="btn btn--pink" type="submit">Оставить заявку</button>
                </div>
                
                <div class="col-lg-6">
                    <ul class="contacts">
                        <li class="contacts__item">
                            <a class="contacts__link" href="tel:+7891123345">+789-112-3345</a>
                        </li>
                        <li class="contacts__item">
                            <a class="contacts__link" href="mailto:hello@inweb.com">hello@inweb.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </form>

      </div> <!-- /.modal__content -->
    </div> <!-- /.modal-dialog -->
  </div> <!-- /.modal -->