@import "vars";



/* Default styles */
html {
    font-size: 15px;
}

body {
    margin: 0;

    background-color: $gray;

    font-family: 'Montserrat', sans-serif;
    color: $black;
    font-size: 1rem;
    line-height: 1.5;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/grid";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../../node_modules/bootstrap/scss/transitions";


/* Blocks */
@import "blocks/page";
@import "blocks/header";
@import "blocks/content";
@import "blocks/intro";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/lang";
@import "blocks/footer";
@import "blocks/btn";
@import "blocks/contacts";
@import "blocks/author";
@import "blocks/circle";
@import "blocks/modal";
@import "blocks/form";
@import "blocks/service";
@import "blocks/portfolio.scss";


// Vendor Slick

@import "vender/slick.scss";


