$white: #fff;
$pink: #ec3482;
$black: #121212;
$gray: #fafafa;
$gray_dark: #a1a1a1;
$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);


// Boostrap Modal 

$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;